.txt{

    text-align: center;
    animation: txt 7s ease-out infinite normal;
    font-size: 24px;
    text-transform: uppercase;

}
@media (min-width: 768px) {
    .txt {
        font-size: 34px; /* Adjust the font size for regular view */
    }
}

@keyframes txt {

0%{
    transform: scale(0.9);
}    

25%{
    transform: scale(1);
}    

60%{
    transform: scale(0.9);
}    

100%{
    transform: scale(1);
}    

}